<h2 mat-dialog-title>Besprechungsdatum ändern</h2>

<mat-dialog-content>
  <mat-form-field appearance="fill" [color]="'primary'">
    <mat-label>Besprechungsdatum</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="besprochenamControl">
    <mat-hint>DD.MM.YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-flat-button color="primary" [disabled]="besprochenamControl.invalid" (click)="save()">
    Speichern
  </button>
</mat-dialog-actions>
