.fk-table-wrapper {
  display: flex;
  flex-flow: column;
  flex: 1 1 100%;
}

.bewertungen-table {
  margin-top: 10px;
  width: 100%;
}

.button-tooltip {
  font-size: medium;
}

.bewertung-form {
  text-align: left;
  margin-top: 10px;
}

.bewertung-form-input {
  max-width: 185px;
}

.bewertung-form-send {
  margin-left: 10px;
}

.bewertungen-buttonbar {
  margin-top: 10px;
  text-align: right;
}
