<div fxLayout="column" fxLayout.xl="row">

    <div class="fk-filminfo" fxFlex="100" fxFlex.xl="66" fxLayout="column" fxLayout.gt-sm="row">
        <div class="fk-filminfo-img" fxFlex="100">
            <fk-image [imageData]="filmbewertungen.film.image"></fk-image>
        </div>
        <div class="fk-filminfo-txt" fxFlex="100">
            <fk-filminfo [filmbewertungen]="filmbewertungen"></fk-filminfo>
        </div>
    </div>

    <div class="fk-filmbewertungen" fxFlex="100" fxFlex.xl="33">
        <div fxFlex=25 fxHide fxShow.lg fxShow.md fxShow.sm></div>
        <div fxFlex=100>
            <fk-table [bewertungen]="filmbewertungen.bewertungen"></fk-table>
        </div>
        <div fxFlex=25 fxHide fxShow.lg fxShow.md fxShow.sm></div>
    </div>
</div>