.fk-filminfo-img, .fk-filminfo-txt, .fk-filmbewertungen {
    padding: 5px;
}

.flex100 {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 50%;
}

/* > sm */
.fk-content-component {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.fk-filminfo {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 100%;
}

.fk-filmbewertungen {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
}

.fk-filmbewertungen-25-md-lg {
  box-sizing: border-box;
  display: none;
  flex: 1 1 25%;
}

.fk-filmbewertungen-50-sm {
  box-sizing: border-box;
  display: none;
  flex: 1 1 50%;
}

/* sm */
@media screen and (min-width: 600px) and (max-width: 959px) {
  .fk-filmbewertungen-50-sm {
    display: flex;
  }
}

/* < sm */
@media screen and (max-width: 959px) {
  .fk-content-component {
    flex-direction: column;
  }

  .fk-filminfo {
    flex-direction: column;
  }
}

/* > md */

/* md to lg */
@media screen and (min-width: 960px) and (max-width: 1919px) {
  .fk-filmbewertungen-25-md-lg {
    display: flex;
  }
}

/* xl */
@media screen and (min-width: 1920px) {
  .fk-filminfo {
    flex-direction: column;
    flex: 1 1 66%;
  }

  .fk-filmbewertungen {
    flex: 1 1 33%;
  }

}
