<div fxLayout="column" lfLayout.lg="row" fxLayout.xl="row">

    <div class="fk-filminfo" fxFlex="100" fxFlex.xl="66" fxLayout="column" fxLayout.sm="row" fxLayout.md="row"
        lfLayout.md="row" fxLayout.xl="row" fxLayout.lg="row">
        <div class="fk-filminfo-img" fxFlex>
            <fk-image [film]="filmbewertungen.film"></fk-image>
        </div>
        <div class="fk-filminfo-txt" fxFlex="100">
            <fk-filminfo [film]="filmbewertungen.film"></fk-filminfo>
        </div>
    </div>

    <div class="fk-filmbewertungen" fxFlex="100" fxFlex.xl="33">
        <h4>Bewertungen</h4>
        <fk-table [bewertungen]="filmbewertungen.bewertungen"></fk-table>
    </div>
</div>