<div *ngIf="filmbewertungen.film.details.originaltitel">
    <h4 class="inline">Originaltitel: </h4>
    {{filmbewertungen.film.details.originaltitel}}
</div>

<div *ngIf="filmbewertungen.film.details.originalsprache">
    <h4 class="inline">Originalsprache: </h4>
    {{filmbewertungen.film.details.originalsprache}}
</div>

<div *ngIf="filmbewertungen.film.details.erscheinungsjahr">
    <h4 class="inline">Erscheinungsjahr: </h4>
    {{filmbewertungen.film.details.erscheinungsjahr.getFullYear()}}
</div>

<div *ngIf="filmbewertungen.film.details.regie">
    <h4 class="inline">Regie: </h4>
    {{filmbewertungen.film.details.regie}}
</div>

<div *ngIf="filmbewertungen.film.details.laenge">
    <h4 class="inline">Länge: </h4>
    {{filmbewertungen.film.details.laenge}} Minuten
</div>

<div *ngIf="filmbewertungen.film.details.altersfreigabe">
    <h4 class="inline">Altersfreigabe: </h4>
    {{filmbewertungen.film.details.altersfreigabe}}
</div>

<div *ngIf="filmbewertungen.film.details.produktionsland">
    <h4 class="inline">Produktionsland: </h4>
    {{filmbewertungen.film.details.produktionsland}}
</div>

<br>
<div *ngIf="filmbewertungen.filmbewertungDetails.beitragvon">
    <h4 class="inline">Beitrag von: </h4>
    {{filmbewertungen.filmbewertungDetails.beitragvon}}
</div>

<div *ngIf="filmbewertungen.filmbewertungDetails.besprochenam">
    <h4 class="inline">Besprochen am: </h4>
    {{filmbewertungen.filmbewertungDetails.besprochenam.toLocaleDateString(undefined, { month: '2-digit',day:
    '2-digit',year: 'numeric'})}}
</div>