<div *ngIf="filmkritiken.film.originaltitel">
    <h4 class="inline">Originaltitel: </h4>
    {{filmkritiken.film.originaltitel}}
</div>

<div *ngIf="filmkritiken.film.originalsprache">
    <h4 class="inline">Originalsprache: </h4>
    {{filmkritiken.film.originalsprache}}
</div>

<div *ngIf="filmkritiken.film.erscheinungsjahr">
    <h4 class="inline">Erscheinungsjahr: </h4>
    {{filmkritiken.film.erscheinungsjahr}}
</div>

<div *ngIf="filmkritiken.film.regie">
    <h4 class="inline">Regie: </h4>
    {{filmkritiken.film.regie}}
</div>

<div *ngIf="filmkritiken.film.laenge">
    <h4 class="inline">Länge: </h4>
    {{filmkritiken.film.laenge}} Minuten
</div>

<div *ngIf="filmkritiken.film.altersfreigabe">
    <h4 class="inline">Altersfreigabe: </h4>
    {{filmkritiken.film.altersfreigabe}}
</div>

<div *ngIf="filmkritiken.film.produktionsland">
    <h4 class="inline">Produktionsland: </h4>
    {{filmkritiken.film.produktionsland}}
</div>

<br>
<div *ngIf="filmkritiken.details.beitragvon">
    <h4 class="inline">Beitrag von: </h4>
    {{filmkritiken.details.beitragvon}}
</div>

<div *ngIf="besprochenAm" class="besprochen-am-row">
    <h4 class="inline">Besprochen am: </h4>
    {{ besprochenAm.toLocaleDateString(undefined, { month: '2-digit',day: '2-digit',year: 'numeric'})}}
    <button *ngIf="hasRoleForEdit" mat-icon-button (click)="openEditDialog()" matTooltip="Besprechungsdatum ändern"
        matTooltipPosition="right" class="edit-besprochen-am-btn">
        <mat-icon>edit</mat-icon>
    </button>
</div>