.toolbar-title {
  text-align: center;
  width: 100%;
  padding-left: 40px;
}

.app-toolbar {
  margin: 16px 0 32px;
  padding: 8px 16px;
}

.app-toolbar-tooltip {
  font-size: medium;
}

.toolbar-menu {
  background-color: #2f2f2f;
}

.toolbar-menu-item-icon {
  color: #ffffff;
}

.toolbar-menu-item-text {
  color: #ffffff;
}
