<div>
  <mat-toolbar class="app-toolbar">
    <div class="toolbar-title">
      <h2>Filmkritiken</h2>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="toolbar-menu-item-icon">menu</mat-icon>
    </button>
    <mat-menu class="toolbar-menu" #menu="matMenu" yPosition="below" xPosition="before">
      @if (!isLoggedIn) {
        <button mat-menu-item (click)="loginPopup()">
          <mat-icon class="toolbar-menu-item-icon">account_circle</mat-icon>
          <span class="toolbar-menu-item-text">Anmelden</span>
        </button>
      }
      @if (isLoggedIn && canCopyToken) {
        <button mat-menu-item (click)="copyAuthToken()">
          <mat-icon class="toolbar-menu-item-icon">content_copy</mat-icon>
          <span class="toolbar-menu-item-text">Token kopieren</span>
        </button>
      }
      @if (isLoggedIn && canAddFilm) {
        <button mat-menu-item (click)="openAddFilmDialog()">
          <mat-icon class="toolbar-menu-item-icon">add</mat-icon>
          <span class="toolbar-menu-item-text">Film hinzufügen</span>
        </button>
      }
      @if (isLoggedIn) {
        <button mat-menu-item (click)="logout()">
          <mat-icon class="toolbar-menu-item-icon">logout</mat-icon>
          <span class="toolbar-menu-item-text">Abmelden</span>
        </button>
      }
    </mat-menu>
  </mat-toolbar>

  <div class="content" role="main">
    <router-outlet></router-outlet>
  </div>
</div>

<router-outlet></router-outlet>
