.toolbar-title {
  text-align: center;
  width: 100%;
  padding-left: 56px;
}

.app-toolbar {
  margin-bottom: 32px;
}

.app-toolbar-tooltip {
  font-size: medium;
}

.toolbar-menu {
  background-color: #2f2f2f;
}

.toolbar-menu-item-icon {
  color: #ffffff;
}

.toolbar-menu-item-text {
  color: #ffffff;
}
