<div>
  <mat-accordion>
    @for (item of items; track item) {
      <mat-expansion-panel [expanded]="!mobile && items[0] === item">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="span-filmtitel">
              <h3>
                {{item.film.titel}}
              </h3>
            </span>
          </mat-panel-title>
          @if (getAverageWertung(item)) {
            <mat-panel-description>
              <span class="span-filmdatum">
                <h3>
                  <!-- {{item.filmbewertungDetails.besprochenam.toLocaleDateString(undefined, { month: '2-digit',day: '2-digit',year: 'numeric'})}} -->
                  {{getAverageWertung(item)}}
                </h3>
              </span>
            </mat-panel-description>
          }
        </mat-expansion-panel-header>
        <fk-content [filmkritiken]="item"></fk-content>
      </mat-expansion-panel>
    }
  </mat-accordion>
</div>