mat-form-field {
  width: 100%;
}

.fk-add-film-dialog-field {
  padding: 10px;
  display: flex;
  box-sizing: border-box;
}

.fk-add-film-form-send {
  margin-top: 50px;
  margin-left: 10px;
  text-align: center;
}

.fk-add-film-dialog-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media screen and (max-width: 959px) {
  .fk-add-film-dialog-field {
    flex: 1 1 100%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .fk-add-film-dialog-field {
    flex: 1 1 50%;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .fk-add-film-dialog-field {
    flex: 1 1 33%;
  }
}

@media screen and (min-width: 1920px) {
  .fk-add-film-dialog-field {
    flex: 1 1 20%;
  }
}