/* You can add global styles to this file, and also import other style files */
@import './angular-material.css';
@import './app/app.component.css';
html {
    height: 100%;
}

body {
    background-color: #000;
    background-image: url(assets/images/Cinema.jpg);
    
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;

    margin: auto;
}

@media screen and (min-width: 992px) {
    body {
        min-width: 992px;
        max-width: 1500px;
        width: 70%;
    }
}

.inline {
    display: inline;
}